.mint-page-main {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url('../public/images/background_MINT_page.jpg') repeat center;
}

.nft-table-container {
    max-height: 680px;
    position: relative;
    display: block;
    height: 100%;
    max-width: 680px;
    width: 100%;
    z-index: 1;
}

.content-container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 79px;
}

.content-title {
    font-size: 33px;
    -webkit-marquee-increment: 0vw;
    margin-top: 0;
    margin-bottom: 1vw;
    font-family: "Avenir Next Condensed", serif;
    font-weight: 900;
    font-style: normal;
}

.quantity-container {
    max-width: 620px;
}

.quantity-box {
    max-width: 110px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.nft-radio-image {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.quantity {
    width: 100%;
    display: block;
    z-index: 2;
    position: relative;
    padding: 7% 0;
    font-family: "Avenir Next Condensed", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #da813d;
}

.price-container {
    max-width: 620px;
}

.price, .blockchain, .total {
    font-family: "Avenir Next Condensed", sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.price, .blockchain {
    color: #da813d;
}

.total {
    color: #ffffff;
}

.mint-btn {
    max-width: 290px;
    width: 100%;
    cursor: pointer;
}

.selected-quantity {
    color: #ffffff;
}

@media (min-width: 650px) and (max-width: 768px) {
    .content-title {
        font-size: 4vw;
    }

    .content-container {
        padding-top: 15%;
    }

    .mint-btn {
        max-width: 140px;
    }

    .quantity-box {
        max-width: 80px;
    }

    .quantity {
        font-size: 1.3em;
    }
}

@media (min-width: 390px) and (max-width: 650px) {
    .content-container {
        padding-top: 25%;
    }

    .content-title {
        font-size: 27px;
    }

    .mint-btn {
        max-width: 240px;
    }

    .quantity-box{
        max-width: 90px;
    }

    .quantity {
        font-size: 1.5em;
    }

    .price-container {
        margin-top: 22px;
    }
}

@media (max-width: 390px) {
    .mint-btn {
        max-width: 150px;
    }

    .price-container {
        margin-top: 10px;
    }

    .price, .blockchain, .total {
        font-size: 1.5em;
    }

    .quantity-container {
        max-width: 340px;
    }

    .quantity-box {
        max-width: 60px;
    }

    .content-container {
        padding-top: 53%;
    }

    .content-title {
        font-size: 20px;
    }
}